{% extends "index.jinja2" %}
{% block body %}
<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
        <div class="panel-heading indigo">Creators</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapse2">Crystal Lessor</a>
              </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/crystal_lessor.jpg" class="img-responsive">
        </div>
      <div class="panel-body col-sm-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default clear">
    <div class="panel-heading">
      <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapse3">Jeff Russell</a>
              </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/jeff_russell.jpg" class="img-responsive">
        </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default clear">
    <div class="panel-heading">
      <h4 class="panel-title">
                  <a data-toggle="collapse"  href="#collapse4">Jeff Torres</a>
                </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/jeff_torres.jpg" class="img-responsive">
        </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default clear">
    <div class="panel-heading">
      <h4 class="panel-title">
                    <a data-toggle="collapse"  href="#collapse5">Justin Lange</a>
                  </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/justin_lange.jpg" class="img-responsive">
        </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
</div>
{% endblock %}