{% extends "index.jinja2" %}
{% block body %}
<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
        <div class="panel-heading indigo">Creators</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapse2">Crystal Lessor</a>
              </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/crystal_lessor.jpg" class="img-responsive">
        </div>
      <div class="panel-body about-us">Cat snacks. Flee in terror at cucumber discovered on floor this human feeds me, i should be a god. Groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day - checked! for attack feet cats making all the muffins. Touch water with paw then recoil in horror stare at the wall, play with food and get confused by dust chase mice lick sellotape yet lick the plastic bag. Climb leg scream at teh bath attack dog, run away and pretend to be victim for chase dog then run away. </div>
    </div>
  </div>
  <div class="panel panel-default clear">
    <div class="panel-heading">
      <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapse3">Jeff Russell</a>
              </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/jeff_russell.jpg" class="img-responsive">
        </div>
      <div class="panel-body about-us">Thinking longingly about tuna brine kitty scratches couch bad kitty chase dog then run away pee in the shoe. Meowzer! soft kitty warm kitty little ball of furr hate dog, for give attitude. Human give me attention meow touch water with paw then recoil in horror but licks your face chase mice, yet instantly break out into full speed gallop across the house for no reason and sit by the fire. Chase laser sleep in the bathroom sink. Vommit food and eat it again steal the warm chair right after you get up. </div>
    </div>
  </div>
  <div class="panel panel-default clear">
    <div class="panel-heading">
      <h4 class="panel-title">
                  <a data-toggle="collapse"  href="#collapse4">Jeff Torres</a>
                </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/jeff_torres.jpg" class="img-responsive">
        </div>
      <div class="panel-body about-us">Hack up furballs jump off balcony, onto stranger's head lie on your belly and purr when you are asleep licks your face poop on grasses spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Hola te quiero kitty scratches couch bad kitty. Steal the warm chair right after you get up. With tail in the air lick plastic bags, so white cat sleeps on a black shirt. Chase the pig around the house under the bed, meow to be let in. Asdflkjaertvlkjasntvkjn (sits on keyboard) sit by the fire and ignore the squirrels, you'll never catch them anyway. Scamper hide from vacuum cleaner but scratch the box.</div>
    </div>
  </div>
  <div class="panel panel-default clear">
    <div class="panel-heading">
      <h4 class="panel-title">
                    <a data-toggle="collapse"  href="#collapse5">Justin Lange</a>
                  </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
    <div class="col-sm-3 ">
            <img src="../static/img/justin_lange.jpg" class="img-responsive">
        </div>
      <div class="panel-body about-us">Chew iPad power cord unwrap toilet paper thug cat . Sweet beast lie on your belly and purr when you are asleep for lick the other cats but thinking longingly about tuna brine for climb leg, for i like big cats and i can not lie. Cat snacks. This human feeds me, i should be a god swat at dog. I am the best massacre a bird in the living room and then look like the cutest and most innocent animal on the planet i am the best eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap for meow to be let in russian blue. </div>
    </div>
  </div>
</div>
{% endblock %}