<form action="#" method="POST">

  <div>
    <input type="password" name="old_password" placeholder="old password">
  </div>
  <div>
    <input type="password" name="new_password" placeholder="new password">
    <input type="password" name="password_confirm" placeholder="confirm password">
  </div>
  <input type="submit" value="save">
</form>

{% if bad_password %}password too short{% endif %}
{% if unmatched_password %}passwords don't match{% endif %}
{% if password_changed %}password updated{% endif %}
