<form action="#" method="POST">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password_confirm" placeholder="confirm password">
    <input type="submit" value="save">
</form>

{% if bad_password %}password too short{% endif %}
{% if unmatched_password %}passwords don't match{% endif %}
{% if password_reset %}password updated{% endif %}
