{% extends "index.jinja2" %}

{% block body %}

<form class="col-md-12" action="#" method="POST">
  <div class="row">
  <div class="input-field col-md-12">
    <input type="password" name="old_password" id="old password" class="validate">
    <label for="old_password">Old Password</label>
    </div>
  </div>
  <div class="row">
  <div class="input-field col-md-12">
    <input type="password" name="new_password" id="new password" class="validate">
    <label for="new_password">New Password</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col-md-12">
    <input type="password" name="password_confirm" id="confirm password" class="validate">
    <label for="password_confirm">Confirm Password</label>
  </div>
  </div>
  <input class="btn btn-info" type="submit" value="Save Changes">
</form>

{% if bad_password %}password too short{% endif %}
{% if unmatched_password %}passwords don't match{% endif %}
{% if password_changed %}password updated{% endif %}

{% endblock %}
