{% extends 'index.jinja2' %}
{% block body %}
    <!--Author box-->
<div class="card-panel author-box hoverable">

    <div class="row center-on-small-only">
        <h5 class="text-center">About author</h5>
        <hr>
        <!--Avatar-->
        <div class="col-sm-3 ">
            <img src="http://brandflow.pl/wp-content/uploads/2015/03/michal.png" class="img-responsive">
        </div>
        <!--/.Avatar-->

        <!--Content-->
        <div class="col-sm-9">
            <h5 class="author-name">Michal Szymanski</h5>

            <div class="personal-sm">
                <a class="icons-sm email-ic"><i class="fa fa-home"> </i></a>
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                <a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i></a>
            </div>
            <br>
            <!--Description-->
            <p class="author-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti explicabo mollitia, saepe dolore. Modi maiores dolore, officia, eos dolores eum aliquid laudantium earum maxime cumque provident, et vitae veritatis.</p>
            <!--/.Description-->
        </div>
        <!--Content-->
    </div>
</div>
<!--/.Author box-->
{% endblock %}