<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elections-R-Us</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mdb.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar container red">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand waves-effect waves-light"
             href="{{ request.route_path('home') }}">
            Elections-R-Us
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="{{ request.route_path('home') }}" class="waves-effect waves-light">
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li><a href="#" class="waves-effect waves-light">About Us</a></li>

              {% if not request.authenticated_userid %}
                <li><a href="login">Login</a></li>
                <li><a href="register">Sign up</a></li>
              {% else %}
                <li><a href="logout" class="waves-effect waves-light">Logout</a></li>
                <li><a href="user_profile">User Profile</a></li>
              {% endif %}

          </ul>

        </div>
      </div>
    </nav>
    <main class="container">
      {% block body %}
      {% endblock %}
    </main>
    <footer class="page-footer container indigo darken-4 center-on-small-only">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Here you can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col-md-6">
            <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
          © 2015 Copyright: <a href="#"> Our Website </a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
  </body>

</html>
