<form action="#" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password_confirm" placeholder="confirm password">
    <input type="submit" value="save">
</form>