<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elections-R-Us</title>
    <link href="https://fonts.googleapis.com/icon?family=MaterialIcons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mdb.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar container red">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand waves-effect waves-light" href="#">Elections-R-Us</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" class="waves-effect waves-light">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#" class="waves-effect waves-light">About Us</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">Login / Sign-Up<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="modal" data-target="#modalLogin">Login</a></li>
                <li class="divider"></li>
                <li><a href="#">User Profile</a></li>
              </ul>
            </li>
          </ul>
          <div class="modal fade" id="modalLogin" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4><i class="fa fa-user"></i> Login</h4>
                  </div>
                    <div class="modal-body" style="padding:40px 50px;">
                      <div class="row">
                        <form class="col-md-12">
                          <div class="row">
                            <div class="input-field">
                              <i class="material-icons prefix">email</i>
                              <input id="icon_email" type="tel" class="validate">
                              <label for="icon_email">Your email</label>
                            </div>
                            <div class="input-field">
                              <i class="material-icons prefix">lock</i>
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                            </div>
                            <div class="text-center">
                              <button type="button" class="btn btn-primary waves-effect waves-light">Login</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">X</button>
                      <div class="options">
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </nav>
    <main class="container">
      <div class="card-panel author-box hoverable">
        <div class="row center-on-small-only">
          <h5 class="text-center">About author</h5>
          <hr>
          <div class="col-sm-3 ">
            <img src="http://brandflow.pl/wp-content/uploads/2015/03/michal.png" class="img-responsive">
          </div>
            <div class="col-sm-9">
              <h5 class="author-name">Michal Szymanski</h5>
                <div class="personal-sm">
                  <a class="icons-sm email-ic"><i class="fa fa-home"> </i></a>
                  <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                  <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                  <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                  <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                  <a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i></a>
                </div>
              <br>
              <p class="author-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti explicabo mollitia, saepe dolore. Modi maiores dolore, officia, eos dolores eum aliquid laudantium earum maxime cumque provident, et vitae veritatis.</p>
            </div>
        </div>
      </div>
    </main>
    <footer class="page-footer container indigo darken-4 center-on-small-only">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Here you can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col-md-6">
            <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
          © 2015 Copyright: <a href="#"> Our Website </a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
  </body>

</html>
