{% extends 'index.jinja2' %}
{% block body %}

  <div class="card-panel author-box hoverable">
    <div class="row center-on-small-only">
      <h5 class="text-center">User Profile</h5>
      <hr>
      <div class="col-sm-3 ">
        <img src="https://openclipart.org/download/247319/abstract-user-flat-3.svg" class="img-responsive">
      </div>
      <div class="col-sm-9">
        <h5 class="author-name">User First Name</h5>
        <h5 class="author-name">User Last Name</h5>
        <h5 class="author-name">User Address</h5>
        <h5 class="author-name">User Name</h5>
        <h5 class="author-name">User Password</h5>
        <h5 class="author-name">User Email</h5>
      </div>
      <div class="row">
        <form class="col-md-12">
          <div class="row">
            <div class="input-field col-md-12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Change User Email</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  
{% endblock %}